@font-face {
    font-family: 'myriadpro-bold';
    src: url('../fonts/myriadpro-bold.otf') format('opentype');
}

@font-face {
    font-family: 'myriadpro-semibold';
    src: url('../fonts/myriadpro-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/myriadpro-regular.otf') format('opentype');
}

.pro-regular {
    font-family: 'myriadpro-regular',sans-serif;
}

.pro-bold {
    font-family: 'myriadpro-bold',sans-serif;
}

.semi-bold {
    font-family: 'myriadpro-semibold',sans-serif;
}
