@font-face {
    font-family: 'myriadpro-bold';
    src: url('../fonts/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'myriadpro-semibold';
    src: url('../fonts/MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

.pro-regular {
    font-family: 'myriadpro-regular',sans-serif;
}

.pro-bold {
    font-family: 'myriadpro-bold',sans-serif;
}

.semi-bold {
    font-family: 'myriadpro-semibold',sans-serif;
}
