.border-rate {
    height: 3px;
    border-radius: 1px;
    position: relative;
    bottom: 2px;
}

.blue {
    background: #005993;
}

.nav-link {
    display: block;
    width: 100%;
    height: 100%;
}


.otherx span {
    font-family: 'myriadpro-bold',sans-serif;
    font-size: 16px;
}

.other-service .otherx img {
    max-width: 90px;
}

.service-all .otherx a img {
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .more-news {
        position: absolute;
    }
}
