@media only screen and (max-width: 450px) {
    .to-top-icon {
        display: block !important;
        position: relative;
        top: 0;
        right: 0;
        float: right;
    }

    .to-top {
        display: none !important;
    }

    .bottom-icon {
        padding-bottom: 10px !important;
    }

    .social-icon {
        position: absolute !important;
        bottom: -15px !important;
        right: 15px !important;
    }

    .search-sec {
        padding: 0px !important;
        padding-top: 15px !important;
    }

        .search-sec .row .col-9 {
            padding-right: 0px;
        }

        .search-sec .btn-search {
            color: #fff;
            background: #7ed3f7;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            text-transform: uppercase !important;
        }

        .search-sec .input-search {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
}

@media only screen and (max-width: 767px) {
    .news-link .col-12 .row .col-12 {
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .news-link .col-12 .pt-30px {
        padding-top: 0px;
    }

    .search-sec .row .col-9 {
        padding-left: 0px;
    }

    .more {
        padding-bottom: 0px !important;
    }
}

.double-chevron {
    margin: 0px 2px;
    padding: 3px 0px 0px 0px;
}

.title-news {
    color: #005993;
    font-size: 36px;
    line-height: 36px;
}

.date-about {
    line-height: 10px;
    padding-top: 15px;
}

.btn-search:hover {
    background-color: #005993;
    color: #fff;
}

.btn-search {
    height: 35px;
    background: #eaf6fe;
    border-radius: 8px;
    border: 1px solid #7ed3f7;
    display: block;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #005993;
}

.input-search {
    background: #eaf6fe;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #7ed3f7;
    color: #7ed3f7;
}

.menu-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.head-link {
    padding: 10px 0px 15px 0px;
}

    .head-link ul {
        display: inline-flex;
    }

        .head-link ul li {
            font-size: 12px;
            font-family: 'myriadpro-regular';
            color: #686868;
        }

.right-icon-news {
    display: none;
}

.to-top-icon {
    display: none;
    height: 30px;
    width: 30px;
}
